.big-box-score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.25rem;
  font-family: 'Montserrat', var(--mainFont);
  position: relative;
  border: 3px solid #EFEFEF;
  border-top: none;

  &:last-child {
    border-bottom: none;
  }

  .date-span {
    position: absolute;
    left: 1rem;
  }

  .team-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: calc(100vh - 130px);
    width: 50%;
    padding: 0 2rem;
    position: relative;

    * {
      color: white;
    }

    .team-name,
    .score-line {
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 700;
      text-shadow: 2px 2px  rgba(0, 0, 0, 0.7);
    }

    .team-name {
      margin-top: 25%;
      min-height: 3rem;
      text-align: center;
      z-index: 1;

      &.smaller {
        font-size: 2rem;
      }
    }

    .score-line {
      border-radius: 50%;
      box-shadow: 0 0 15vw 10vw rgba(0, 0, 0, 0.3), inset 0 0 0 2rem rgba(0, 0, 0, 0.3);
      font-size: 7rem;
    }

    .overlay,
    .team-img,
    .team-bg {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 25vw;
    }

    .team-img {
      opacity: 0.33;
    }

    .overlay {
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 2;
    }
  }

  .separator-left,
  .separator-right {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: calc(100vh - 130px) calc(5vw + 2rem) 0 0;
    position: absolute;
    left: calc(50% - 2.5rem);
    z-index: 1;
  }

  .separator-right {
    border-width: 0 0 calc(100vh - 130px) calc(5vw + 2rem);
  }

  .team-badge {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1rem;
  }
}