.goal-box {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    position: relative;

    * {
      text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
    }

    .ball {
      margin: 0.25rem 0.5rem 0 0.5rem;
    }
  }
}